.Card {
  position: relative;
  margin: 0 auto;
}

.Card img {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(5deg);
  height: clamp(150px, 30vh, 300px);
  width: auto;
}